body {
  font-family: "Montserrat", sans-serif;
}

.img {
  width: 100%;
}

section {
  display: flex;
  align-items: center;
  text-align: center;
}

.boton {
  width: 200px;
  background-color: lightsalmon;
  border: 6px tomato solid;
  border-radius: 15px;
  padding: 1px;
}

.fase1 {
    width: 200px;
    background-color: lightskyblue;
    border: 6px steelblue solid;
    border-radius: 15px;
    padding: 1px;
}

.fase2 {
    width: 200px;
    background-color: turquoise;
    border: 6px teal solid;
    border-radius: 15px;
    padding: 1px;
}

.precio {
  font-family: "Glegoo";
  font-size: 2em;
  flex: 1;
}

.imagen {
  width: 50%;
}

.descripcion {
  font-size: 1.2em;
  text-align: center;
}
